@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* ============================ Removed Elements ===================================== */

@media screen and (max-width: 767px) {

  header,
  .desktop-link,
  footer span {
    display: none !important;
  }
}

/* ============================ Global Styles ===================================== */

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(assets/images/mob-bg.png);
  background-size: 100%;
  background-position: top;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

/* ============================ Header Styles ===================================== */

/* ============================ Navigation Styles ===================================== */

.navigation {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  transform: translatey(-100%);
  background-color: #ec5342a0;
  z-index: 3;
  opacity: 0;
  transition: 0.5s;
  backdrop-filter: blur(5px);
}

.xmark,
.menu {
  position: fixed;
  z-index: 3;
  left: 10vw;
  top: 5%;
  font-size: calc(10px + 1.955vh + 1.955vw);
  border-radius: 50%;
  filter: invert(1);
  mix-blend-mode: difference;
}

nav {
  display: grid;
  grid-template-rows: 40vh 45.72vh 9.28vh;
}

.nav-top {
  padding: 1.303vh 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-top a {
  color: #222f47;
  font-weight: 900;
}

.nav-top p {
  height: 10.69vh;
  font-size: calc(1.955vh + 1.955vw);
}

.nav-top img {
  height: calc(12vh + 12vw);
  width: calc(12vh + 12vw);
  align-self: flex-end;
  border-radius: 50%;
}

.nav-links {
  padding-top: 2%;
  align-items: center;
  gap: 5%;
}

.nav-links a {
  color: #272a31;
  font-size: calc(1.629vh + 1.629vw);
  font-weight: 100;
}

.nav-bottom {
  justify-content: center;
  align-items: center;
}

.nav-bottom button {
  color: #ec5242;
  font-size: calc(1.629vh + 1.629vw);
  border: calc(0.325vh + 0.325vw) #ec5242 solid;
  background-color: #d3d3d3;
  padding: 1.303vh 2.607vw;
}

.display-nav {
  transform: translateY(0%);
  opacity: 100;
}

/* ============================ Headline Styles ===================================== */

#headline {
  padding-bottom: 80px;
}

.greeting p {
  padding: 15vh 0 0 0;
  font-size: 21px;
  font-weight: 400;
  color: #ec5242;
}

h1 {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 900;
  font-size: calc(10px + 1.6875vh + 2.6875vw);
  text-transform: uppercase;
  background-image: url(assets/images/fire.jpg);
  background-size: cover;
  background-position: bottom;
  color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.description {
  background-color: #f5f5f5;
  color: #272a31;
  border: 5px solid white;
  padding: 10px 15px;
  margin: 30px 0;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  z-index: 1;
}

.date {
  font-size: 27px;
  font-weight: 900;
  color: #3e3e3e;
}

.place {
  font-size: 17px;
  color: #3e3e3e;
  margin-top: 7px;
}

/* ============================ about Styles ===================================== */

#program {
  background-image: url(assets/images/cross.svg);
  background-color: #272a31;
}

#program .wrapper {
  justify-content: center;
}

.title {
  margin: 30px auto;
  text-align: center;
  font-size: 22px;
  color: #fff;
  background-image: linear-gradient(#ec5242, #ec5242);
  background-size: 50px 2px;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-bottom: 18px;
  padding-top: 30px;
}

.tag {
  gap: 12px;
}

.program-tag {
  align-items: center;
  padding: 0 1.564vw;
  gap: 20px;
  background-color: rgba(162, 162, 162, 0.2);
  transition: all 0.5s ease-out;
}

.program-tag:hover {
  transform: scale(1.1);
}

.program-img {
  font-size: 5.215vw;
  color: white;
  transition: all 0.5s ease-out;
}

.program-tag:hover .program-img {
  color: #ec5242;
}

.program-title {
  font-size: 2.477vw;
  color: #ec5242;
}

.program-detail {
  font-size: 1.76vw;
  color: #fff;
}

.join-btn {
  width: 35.202vw;
  height: 8.474vh;
  font-size: 2.216vw;
  background-color: #ec5242;
  color: #fff;
  margin: 30px auto;
  border: none;
}

/* ============================ trainers Styles ===================================== */

#trainers {
  align-items: center;
  background-color: #fff;
}

.trainers-container {
  align-items: center;
}

#trainers .wrapper {
  justify-content: center;
  align-items: center;
}

#trainers h2 {
  font-family: "Lato", sans-serif;
  color: #272a31;
  margin-bottom: 0;
}

.trainer-card {
  position: relative;
  font-family: "Lato", sans-serif;
  margin: 5% 2.5%;
}

.trainer-deco {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 55px;
  max-width: 150px;
  width: 15%;
  z-index: 2;
}

.trainer-img {
  position: relative;
  margin-top: 4%;
  margin-left: 4%;
  min-width: 115px;
  max-width: 300px;
  width: 30%;
  height: 30%;
  z-index: 2;
}

.trainer-info {
  justify-content: space-evenly;
  align-self: center;
  height: 34%;
  margin: 0 5%;
}

.trainer-info h3 {
  font-size: 14px;
  margin-bottom: 0;
}

.trainer-info h4 {
  font-size: 12px;
  color: #ec5342;
  margin: 2.5% 0;
}

.trainer-info hr {
  text-align: center;
  width: 10%;
  margin-left: 0;
}

.trainer-info p {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 0;
}

.trainer-btn {
  max-width: 400px;
  width: 90%;
  height: 40px;
  background-color: white;
  border: 1px solid #d3d3d3;
  margin: 40px 0;
  transition: 0.2s;
  cursor: pointer;
}

.trainer-btn i {
  color: #ec5342;
}

.trainer-btn:hover {
  background-color: #d3d3d3;
}

.up {
  transform: rotate(180deg);
}

/* ============================ Partners Styles ===================================== */

#partners {
  background-color: #535353;
}

#partners .title {
  padding-top: 40px;
  padding-bottom: 25px;
  background-size: 30px 1px;
  color: #d3d3d3;
  font-size: 24px;
  margin-top: 0;
}

.company {
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
}

.company span {
  font-size: 20px;
  font-weight: 600;
  color: #a8a8a8;
}

/* ============================ Footer Styles ===================================== */

footer {
  padding: 2vh 0;
  gap: 20px;
  justify-content: center;
}

footer a {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer p {
  height: auto;
  font-weight: 900;
  font-size: 1.6vw;
  text-align: center;
  color: black;
  align-self: center;
}

footer img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}


/* ============================ Desktop Styles ===================================== */

@media screen and (min-width: 768px) {

  .menu,
  .xmark,
  .join-btn,
  .trainer-btn {
    display: none !important;
  }

  body {
    background-image: none;
  }

  header {
    height: 40px;
    background-color: #3e3e3e;
    display: block;
  }

  /* ============================ Header Styles ===================================== */

  header .wrapper {
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    padding: 8px 0;
    color: #fff;
  }

  header .wrapper a {
    color: #fff;
    text-decoration: none;
    font-size: 14.5px;
  }

  header .wrapper a:hover,
  i:hover {
    cursor: pointer;
    color: #ec5242;
  }

  /* ============================ Navigation Styles ===================================== */

  .navigation {
    position: relative;
    height: auto;
    max-height: 100px;
    transform: translatey(0);
    background-color: transparent;
    z-index: 3;
    opacity: 1;
    transition: none;
    backdrop-filter: blur(0);
    padding: 5px 0;
    background-color: white;
  }

  nav {
    grid-template-rows: 100%;
    grid-template-columns: 25% 55% 20%;
  }

  .nav-top {
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }

  .nav-top a {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav-top p {
    height: auto;
    font-weight: 900;
    font-size: 1.6vw;
    text-align: left;
    color: black;
  }

  .nav-top img {
    height: 90px;
    width: 90px;
  }

  .nav-links {
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10%;
  }

  .nav-links a {
    font-size: 1.5vw;
    font-weight: 300;
    color: #5a5a5a;
  }

  .nav-bottom {
    justify-content: flex-end;
  }

  .nav-bottom button {
    font-size: 1.5vw;
    border: 0.5vw #ec5242 solid;
    background-color: white;
    padding: 10px 15px;
  }

  /* ============================ Headline Styles ===================================== */

  #headline {
    background-image: url(assets/images/main_big.png);
    background-size: cover;
    background-position: right;
  }

  .greeting p {
    padding: 7vh 0 0 0;
    font-size: calc(2vw + 2vh);
    font-weight: 400;
    color: #ec5242;
  }

  .description {
    font-size: 18px;
    width: 90%;
    max-width: 680px;
  }

  .date {
    font-size: 3vw;
  }

  .place {
    font-size: 24px;
    margin-top: 20px;
  }

  /* ============================ about Styles ===================================== */

  #program {
    background-image: url(assets/images/cross.svg);
    background-color: #272a31;
  }

  #program .wrapper {
    justify-content: center;
  }

  .title {
    margin: 30px auto;
    text-align: center;
    font-size: 22px;
    color: #fff;
    background-image: linear-gradient(#ec5242, #ec5242);
    background-size: 50px 2px;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 18px;
    padding-top: 30px;
  }

  .tag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .program-tag {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 1.564vw;
    border: #222f47 1px solid;
  }

  .program-tag:hover .program-img {
    color: #ec5242;
  }

  .program-title {
    font-size: 1.2vw;
    color: #ec5242;
  }

  .program-detail {
    font-size: 0.9vw;
    text-align: center;
  }

  .desktop-link {
    text-transform: uppercase;
    word-spacing: 3px;
    color: #fff;
    font-size: 1.5vw;
    text-align: center;
    padding: 5vh 0;
    text-decoration: underline;
  }

  .desktop-link:hover {
    color: #ec5242;
  }

  /* ============================ trainers Styles ===================================== */

  .trainers-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 60px;
  }

  /* ============================ Partners Styles ===================================== */

  .company {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    padding-bottom: 50px;
  }

  /* ============================ Footer Styles ===================================== */

  footer {
    flex-direction: row;
  }

  footer p {
    text-align: left;
    font-weight: 400;
  }

  footer p span {
    font-weight: 100;
  }

  footer a {
    width: 100%;
    max-width: 300px;
  }

  footer a p {
    font-weight: 900;
  }

  footer img {
    height: 100%;
    width: 100%;
    max-height: 150px;
    max-width: 150px;
    border-radius: 50%;
  }

}

@media screen and (min-width: 1600px) {
  .max-font-26{
    font-size: 26px !important;
  }

  .greeting p {
    font-size: 58px;
  }

  h1 {
    font-size: 75px;
  }

  .description {
    font-size: 18px;
  }

  .date {
    font-size: 48px;
  }

  .program-img {
    font-size: 86px;
  }

  .program-title {
    font-size: 20px;
  }

  .program-detail {
    font-size: 15px;
  }

  footer .logo {
    height: 150px;
    width: 150px;
  }

}
